@import "tailwindcss";

:root {
  --background: #f2f2f2;
  /* Colors */
  --primary: #1db954;
  --secondary: #541db9;
  --accent: #b9541d;
  --primary-50: #0f612c;
  --secondary-50: #2c0f61;
  --accent-50: #612c0f;

  --text-primary: #181818;
  --text-secondary: #4d4d4d;
  --text-inverse-primary: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --primary-50: #57e589;
    --secondary-50: #8957e5;
    --accent-50: #e58957;

    --text-primary: #f2f2f2;
    --text-secondary: #d9d9d9;
    --text-inverse-primary: #181818;
  }
}

@theme {
  /* Colors */
  --color-*: initial;

  /* Font Size */
  --text-*: initial;
  --text-sm: clamp(0.6875rem, 0.6528rem + 0.1852vw, 0.875rem);
  --text-md: clamp(0.9375rem, 0.9028rem + 0.1852vw, 1.125rem);
  --text-lg: clamp(1.125rem, 0.8935rem + 1.2346vw, 2.375rem);
  --text-xl: clamp(1.25rem, 0.9259rem + 1.7284vw, 3rem);
  --text-2xl: clamp(1.5625rem, 1.2384rem + 1.7284vw, 3.3125rem);

  /* Screen Size */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-primary-50: var(--primary-50);
  --color-secondary: var(--secondary);
  --color-secondary-50: var(--secondary-50);
  --color-accent: var(--accent);
  --color-accent-50: var(--accent-50);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-inverse-primary: var(--text-inverse-primary);
}

@layer base {
  code,
  input,
  textarea,
  p {
    font-size: var(--text-md);
    font-weight: var(--font-weight-normal);
  }
  h1 {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-bold);
  }
  h2 {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-thin);
  }
  h3 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-normal);
  }
  h4 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-bold);
  }
  h5 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-thin);
  }

  input,
  button,
  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--text-primary);
    cursor: default;
  }

  *:hover {
    outline-color: var(--secondary);
  }
  *:focus {
    outline-color: var(--secondary);
  }
}

@layer components {
  .bg-prime {
    background-color: var(--primary);
    transition:
      background-color 0.3s ease-in-out,
      opacity 0.3s ease-in-out;
  }
  .bg-prime:hover {
    background-color: var(--primary-50);
  }
  .bg-prime:disabled,
  .bg-prime[aria-disabled="true"] {
    background-color: var(--primary-50);
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}
